#react-paginate ul {
    display: inline-block;
    padding-left: 200px;
    padding-right: 200px;
    font-size: large
}

#react-paginate li {
    display: inline-block;
    background-color:black;
    font-size: large
}

#react-paginate .break a {
    cursor: default;
}
#react-paginate .pagination{
font-size: large
}
.active{
    color: black;
}

react-paginate .active{

}